* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  width: 100%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.main-full {
  width: 90vw;
}

.welcome {
  width: 100%;
  text-align: center;
}

.recomendedJobs {
  font-size: 30px;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.recomendedJobs p {  
  font-size: 16px;
  font-weight: 700;
  margin-left: 20px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
}

.Joblisting {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 50px auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.JobCard {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: flex-start;
  border: 1px solid black;
  margin: 10px 0;
  border-radius: 15px;
  padding: 10px;
}

.colordiv {
  background-color: #ffe1cc;
  width: 100%;
  border-radius: 15px;
}

.colordiv .pad {
  padding: 20px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.colordiv .pad .dateSave{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.colordiv .pad .dateSave p,
.colordiv .pad .dateSave svg,
.colordiv .pad .title svg {
  padding: 10px;
  background-color: white;
  border-radius: 25px;
}

.colordiv .pad .company {
  font-size: 16px;
  font-weight: 500;
  /* margin-top: -30px; */
}

.colordiv .pad .title {
  font-size: 25px;
  font-weight: 600;
  font: Orkney;
  display: flex;
  justify-content: space-between;
  /* margin-top: -30px; */
}

.colordiv .pad .title p{
  max-width: 70%;
}

.nocolordiv  {
  width: 100%;  
}

.nocolor {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}

.nocolor  .details{
  border-radius: 25px;
}

.sub-description {
  display: flex;
  flex-direction: wrap;
  width: 100%;
  flex-wrap: wrap;


}
.sub-description cite {
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px 10px;
  margin-right: 5px;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .Joblisting {
    justify-content: center;
  }

  .JobCard {
    width: 90%;
    margin: 10px auto; /* Centers the card horizontally */
  }

  .recomendedJobs{
    margin-top: 20px;
    margin-bottom: -30px;
  }
}